/*
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
	font-family: "Gilroy Regular";
	font-style: normal;
	font-weight: normal;
	src: local("Roboto"),
		  url("/fonts/Gilroy-Regular.woff") format("woff");
}
@font-face {
	font-family: "Galien Regular";
	font-style: normal;
	font-weight: normal;
	src: local("Roboto"),
		  url("/fonts/Galien-Regular.otf") format("otf");
 }
.all-unset {
	all: unset;
	cursor: pointer;
}
.page {
	margin: 0 auto;
	padding: 0;
	font-family: "Gilroy Regular", "Arial", sans-serif;
	color: #1f3f68;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.05em;
}
.header__index {
	height: 652px;
}
.header__index:after {
	background: -webkit-gradient(linear, left bottom, left top, color-stop(8.84%, rgba(152, 195, 232, 0.2)), color-stop(31.12%, rgb(255, 255, 255)));
	background: -o-linear-gradient(bottom, rgba(152, 195, 232, 0.2) 8.84%, rgb(255, 255, 255) 31.12%);
	background: linear-gradient(0deg, rgba(152, 195, 232, 0.2) 8.84%, rgb(255, 255, 255) 31.12%);
	height: 652px;
	width: 100%;
	content: "";
	display: block;
	position: absolute;
	top: 122px;
	z-index: -1;
}
.header__line {
	background-color: rgb(255, 255, 255);
	height: 48px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.header__line--padding {
	padding: 0px 25px 0px 20px;
}
#masthead {
	padding: 48px 78px 0px 88px;
	z-index: 100;
	position: fixed;
	top: 0px;
	height: 130px;
	width: 100%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	background: #ffffff;
	-webkit-transition: 0.3s ease all;
	-o-transition: 0.3s ease all;
	transition: 0.3s ease all;
}

#masthead.scrolled {
	padding: 20px 90px 0px 83px;
	height: 70px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.logo {
}
.menu {
}
/*начало бургер-меню*/
#menu__toggle {
	opacity: 0;
}
#menu__toggle:checked ~ .menu__btn > span {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
	background-color: #ffffff;
}
#menu__toggle:checked ~ .menu__btn > span::before {
	top: 0;
	-webkit-transform: rotate(0);
	    -ms-transform: rotate(0);
	        transform: rotate(0);
	background-color: #ffffff;
}
#menu__toggle:checked ~ .menu__btn > span::after {
	top: 0;
	-webkit-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	        transform: rotate(90deg);
	background-color: #ffffff;
}
#menu__toggle:checked ~ .menu__box {
	visibility: visible;
	right: 0;
}

.menu__btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: relative;
	top: -17px;

	width: 24px;
	height: 16px;

	cursor: pointer;
	z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
	display: block;
	position: absolute;

	width: 100%;
	height: 3px;

	background-color: #356ead;

	-webkit-transition-duration: 0.25s;

	     -o-transition-duration: 0.25s;

	        transition-duration: 0.25s;
}
.menu__btn > span::before {
	content: "";
	top: -7px;
}
.menu__btn > span::after {
	content: "";
	top: 7px;
}
.menu__box {
	/* display: block;
	position: fixed;
	visibility: hidden;
	top: 0;
	right: -100%; */
	width: 394px;
	height: 100%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 80px 50px;
	list-style: none;
	background: #5a98d0;
	border-radius: 50px 0px 0px 0px;
	font-family: "Gilroy Regular", "Arial", sans-serif;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.05em;
	color: #ffffff;
	width: 600;
	-webkit-transition-duration: 0.25s;
	     -o-transition-duration: 0.25s;
	        transition-duration: 0.25s;
}
.menu__li {
	margin-top: 24px;
}
.menu__list {
	margin-top: 9px;
	list-style-type: none;
	list-style-position: inside;
}
.menu__link {
	font-family: "Gilroy Regular", "Arial", sans-serif;
	font-size: 20px;
	line-height: 42px;
	letter-spacing: 2px;
	color: #ffffff;
	width: 600;
	text-decoration: none;
	background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
	background-image: -o-linear-gradient(currentColor, currentColor);
	background-image: linear-gradient(currentColor, currentColor);
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-size: 0% 1px;
	-webkit-transition: background-size 0.3s;
	-o-transition: background-size 0.3s;
	transition: background-size 0.3s;
}
.menu__link:hover {
	background-size: 100% 1px;
}
.menu__link-dropdown {
	font-family: "Gilroy Regular", "Arial", sans-serif;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.05em;
	color: #ffffff;
	width: 600;
	text-decoration: none;
	background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
	background-image: -o-linear-gradient(currentColor, currentColor);
	background-image: linear-gradient(currentColor, currentColor);
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-size: 0% 1px;
	-webkit-transition: background-size 0.3s;
	-o-transition: background-size 0.3s;
	transition: background-size 0.3s;
}
.menu__link-dropdown:hover {
	background-size: 100% 1px;
}
/* .menu__arrow {
	margin-left: 8px;
	margin-bottom: 4px;
	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
details[open] > summary > .menu__arrow {
	-webkit-transform: rotate(360deg);
	    -ms-transform: rotate(360deg);
	        transform: rotate(360deg);
} */
.menu__marker {
	display: block;
}
/*конец бургер-меню*/
.header__block {
	margin: 122px auto 0px auto;
}
.header__content {
	position: relative;
	margin: 0px auto;
	width: 1132px;
	padding-left: 183px;
}
.header__text {
	display: inline-block;
	padding-top: 63px;
	position: relative;
	z-index: 2;
}
.header__img {
	display: inline-block;
	position: absolute;
	left: 630px;
	z-index: 1;
}
.header-page {
	margin: 130px auto 0px auto;
	width: 1366px;
	height: 204px;
	background-image: url("/img/blog-header.svg");
	padding-top: 46px;
}
.header-page__title {
	font-family: "Gilroy Regular", "Arial", sans-serif;
	font-size: 44px;
	line-height: 74px;
	text-align: center;
	letter-spacing: 0.04em;
	color: #ffffff;
	font-weight: 600;
}
.header-page__subtitle {
	width: 780px;
	margin-left: 293px;
	margin-top: 20px;
	font-family: "Gilroy Regular", "Arial", sans-serif;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 0.04em;
	color: rgba(255, 255, 255, 0.4);
}
.text__title {
	font-family: "Galien Regular", "Georgia", serif;
	font-size: 50px;
	line-height: 76px;
	letter-spacing: 0.5px;
	color: #1f3f68;
	width: 545px;
	margin-bottom: 35px;
	font-weight: 600;
}
.text__subtitle {
	width: 442px;
	margin-bottom: 75px;
	padding-left: 5px;
}
.btn {
	width: 218px;
	background: #5a98d0;
	-webkit-box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
	        box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
	border-radius: 10px;
	border-width: 0px;
	-webkit-transition: 0.3s ease all;
	-o-transition: 0.3s ease all;
	transition: 0.3s ease all;
}
.header__btn {
	margin-left: 5px;
}
.btn:hover {
	background: #1f3f68;
}
.text__btn {
	display: block;
	width: 218px;
	height: 58px;
	padding: 15px 0px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	text-align: center;
	font-family: "Gilroy Regular", "Arial", sans-serif;
	font-size: 16px;
	line-height: 162%;
	letter-spacing: 0.04em;
	color: #ffffff;
	text-decoration: none;
}

.main {
	max-width: 1366px;
	min-width: 940px;
	margin: 160px auto 0px auto;
}
.main-page {
	width: 1366px;
	margin: 56px auto 0px auto;
}
.main__search {
	margin: 0px auto;
}
.search {
	width: 940px;
	position: relative;
	background: #f4f4f4;
	border-radius: 10px;
}
.search__input {
	width: 100%;
	padding-left: 72px;
	background: transparent;
	height: 56px;
	border: none;
	outline: none;
	font-family: "Gilroy Regular", "Arial", sans-serif;
	font-size: 16px;
	line-height: 19px;
	color: #1f3f68;
	opacity: 0.6;
}
.search__input::-webkit-input-placeholder {
	color: #7588a0;
}
.search__input::-moz-placeholder {
	color: #7588a0;
}
.search__input:-ms-input-placeholder {
	color: #7588a0;
}
.search__input::-ms-input-placeholder {
	color: #7588a0;
}
.search__input::placeholder {
	color: #7588a0;
}
.search__btn {
	width: 56px;
	height: 58px;
	position: absolute;
	top: 0;
	left: 8px;
	cursor: pointer;
	border: none;
	background: url("/img/lens.svg") 50% no-repeat;
}
.main__blocks {
	margin: 0px auto 110px auto;
	-webkit-column-count: 2;
	   -moz-column-count: 2;
	        column-count: 2;
}
.blocks {
	width: 940px;
}
.blocks__title {
	margin-bottom: 152px;
	margin-top: 25px;
}
.title {
	font-family: "Gilroy Regular", "Arial", sans-serif;
	font-size: 36px;
	line-height: 128%;
	letter-spacing: 0.05em;
	color: #316099;
	width: 363px;
	font-weight: 600;
}
.main__block {
	margin-bottom: 100px;
	margin-left: 80px;
}
.block {
	width: 284px;
	-webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
	        box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
	border-radius: 10px;
	padding: 48px;
	margin-top: 30px;
}
.block-break {
	-webkit-column-break-after: column;
	   -moz-column-break-after: column;
	        break-after: column;
}
.block__img3 {
	height: 134px;
	position: relative;
	right: -38px;
	top: 4px;
}
.block__img2 {
	position: relative;
	right: -14px;
	top: 10px;
}
.block__img1 {
	margin-top: -89px;
	position: relative;
	top: 16px;
	left: 20px;
}
.block__title {
	margin-top: 56px;
}
.block__link-title {
	font-family: "Gilroy Regular", "Arial", sans-serif;
	font-size: 20px;
	letter-spacing: 0.97px;
	line-height: 150%;
	color: #1f3f68;
	font-weight: 600;
	text-decoration: none;
}
.block__link-title:hover {
	color: #356ead;
}
.block__subtitle {
	margin-top: 16px;
	font-family: "Gilroy Regular", "Arial", sans-serif;
	font-size: 16px;
	line-height: 162%;
	letter-spacing: 0.05em;
	color: #1f3f68;
	opacity: 0.6;
}
.block__lrn-more {
	margin-top: 32px;
}
.lrn-more {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 123px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-transition: 0.5s ease-in-out all;
	-o-transition: 0.5s ease-in-out all;
	transition: 0.5s ease-in-out all;
	text-decoration: none;
}
.lrn-more:hover {
	width: 284px;
}
.lrn-more__txt {
	font-family: "Gilroy Regular", "Arial", sans-serif;
	font-size: 14px;
	line-height: 214%;
	letter-spacing: 0.05em;
	color: #5a98d0;
}
.lrn-more__img {
	height: 24px;
	margin-left: 26px;
}
.main__subject {
	margin: 0px auto;
}
.subject {
	width: 940px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.subject__text {
	width: 540px;
}
.subject__title {
	margin-top: 8px;
	width: 320px;
}
.main__text {
}
.main__project {
	margin: 100px auto 0px auto;
}
.project {
	position: relative;
	width: 940px;
}
.project:after {
	background: -o-linear-gradient(0.01deg, #1f3f68 3.62%, rgba(31, 63, 104, 0.37) 97.78%);
	background: linear-gradient(89.99deg, #1f3f68 3.62%, rgba(31, 63, 104, 0.37) 97.78%);
	border-radius: 10px;
	content: "";
	display: block;
	width: 940px;
	height: 417px;
	position: absolute;
	top: 0px;
	left: 0;
	opacity: 1;
	-webkit-transition: 0.5s ease-out all;
	-o-transition: 0.5s ease-out all;
	transition: 0.5s ease-out all;
}
.project:hover:after {
	opacity: 0.5;
}
.heading {
	font-family: "Gilroy Regular", "Arial", sans-serif;
	font-size: 28px;
	line-height: 146%;
	letter-spacing: 0.05em;
	color: #ffffff;
}
.project__content {
	position: absolute;
	left: 551px;
	top: 51px;
	z-index: 5;
}
.project__desc {
	position: absolute;
	margin-top: 12px;
	margin-left: 106px;
}
.wafer {
	position: relative;
	z-index: -1;
}
.wafer-card {
	position: absolute;
	top: 0px;
}
.wafer-svg {
	position: absolute;
	top: 41px;
	left: 0px;
	z-index: 2;
	-webkit-transition: 0.1s ease all;
	-o-transition: 0.1s ease all;
	transition: 0.1s ease all;
}
.wafer-svg__icons {
	position: absolute;
	top: 71px;
	left: -4px;
	z-index: 3;
}
.desc {
	font-family: "Gilroy Regular", "Arial", sans-serif;
	font-size: 16px;
	line-height: 288%;
	letter-spacing: 0.73px;
	color: #ffffff;
	opacity: 0.8;
}
.main__line {
	margin: 90px auto 0px auto;
}
.line {
	width: 940px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.card__desc {
	position: absolute;
	margin-top: 6px;
}
.card__content {
	width: 380px;
	position: relative;
	z-index: 5;
	left: 32px;
	top: 24px;
}
.line__card {
}

.card {
	border-radius: 10px;
	width: 422px;
	height: 417px;
	position: relative;
	margin: 0px auto;
	display: inline-block;
	position: relative;
	line-height: 0;
}
.card:after {
	background: -o-linear-gradient(141.15deg, rgba(66, 165, 245, 0.4) -1.71%, rgba(21, 101, 192, 0.6) 74.54%);
	background: linear-gradient(308.85deg, rgba(66, 165, 245, 0.4) -1.71%, rgba(21, 101, 192, 0.6) 74.54%);
	border-radius: 10px;
	content: "";
	display: block;
	width: 422px;
	height: 417px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
	-webkit-transition: 0.5s ease-out all;
	-o-transition: 0.5s ease-out all;
	transition: 0.5s ease-out all;
}
.card:hover:after {
	opacity: 0.5;
}
.card__title {
}
.card__subtitle {
}
.maim__module {
}
.main__clients {
	margin-top: 190px;
}
.clients {
	background: #5a98d0;
	border-radius: 200px 0px 0px 0px;
	padding-top: 86px;
}
.clients__subject {
	margin: 0px auto;
}
.title-white {
	color: #ffffff;
}
.text-white {
	color: #ffffff;
}
.main__table {
	padding-top: 112px;
}
.table {
	margin: 0px auto;
	font-family: "Gilroy Regular", "Arial", sans-serif;
	font-size: 20px;
	line-height: 230%;
	letter-spacing: 0.02em;
	color: #ffffff;
	font-weight: 500;
}
.after {
	border-left: 1px solid #ffffff;
}
.after-last {
	background-color: #4d84ba;
	-webkit-transition: 0.3s ease all;
	-o-transition: 0.3s ease all;
	transition: 0.3s ease all;
}
.after-last:hover {
	background-color: #316099;
}
.first {
	border-bottom: 1px solid #ffffff;
}
.table__cell {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-decoration: none;
	color: #ffffff;
	-webkit-filter: contrast(70%);
	        filter: contrast(70%);
	-webkit-transition: 0.3s ease all;
	-o-transition: 0.3s ease all;
	transition: 0.3s ease all;
}
.table__cell--last {
	-webkit-filter: none;
	        filter: none;
}
.table__cell:hover {
	-webkit-filter: none;
	        filter: none;
}
.main__title {
	margin: 54px auto 0px auto;
}
.title-module {
	width: 940px;
	text-transform: uppercase;
	font-family: "Gilroy Regular", "Arial", sans-serif;
	font-size: 20px;
	line-height: 25px;
	letter-spacing: 0.04em;
	color: #356ead;
	opacity: 0.8;
	font-weight: 600;
}
.title-module--line {
	text-align: right;
	margin-top: 46px;
	font-weight: 600;
	font-size: 16px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
	background-image: -o-linear-gradient(currentColor, currentColor);
	background-image: linear-gradient(currentColor, currentColor);
	background-position: 100% 100%;
	background-repeat: no-repeat;
	background-size: 0% 1px;
	-webkit-transition: background-size 0.3s;
	-o-transition: background-size 0.3s;
	transition: background-size 0.3s;
}
.title-module--line:hover {
	background-size: 22.5% 1px;
}
.main__popular {
	margin: 0px auto;
}
.popular {
	width: 941px;
}
.main__line-news {
	margin: 0px auto;
}
.line-news {
	width: 941px;
	margin-top: -4px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.line-news__news {
	margin-right: 20px;
}
.news {
	margin-top: 29.3px;
}
.news__img {
}
.news__title {
	font-family: "Galien Regular", "Georgia", serif;
	font-size: 24px;
	line-height: 36px;
	color: #1f3f68;
	overflow: hidden;
	font-weight: 600;
}
.news__title:hover {
	color: #356ead;
}
.news__title--line {
	height: 76px;
	padding-top: 10px;
}
.news__title--one {
	height: 38px;
}
.news__text {
	margin-top: 16px;
}
.news__text-line {
	height: 103px;
}
.news__info-news {
	margin-top: 18px;
}
.news__info-news--first {
	margin-top: 32px;
}
.info-news {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.info-news__name {
	font-family: "Gilroy Regular", "Arial", sans-serif;
	font-size: 14px;
	line-height: 171%;
	letter-spacing: 0.04em;
	color: #1f3f68;
	background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
	background-image: -o-linear-gradient(currentColor, currentColor);
	background-image: linear-gradient(currentColor, currentColor);
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-size: 0% 0.5px;
	-webkit-transition: background-size 0.3s;
	-o-transition: background-size 0.3s;
	transition: background-size 0.3s;
}
.info-news__name:hover {
	background-size: 100% 0.5px;
}
.info-news__date {
	font-family: "Gilroy Regular", "Arial", sans-serif;
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: rgba(0, 0, 0, 0.4);
}
.info-news__icons {
	position: relative;
	padding-left: 65px;
	height: 26px;
}
.info-news__img {
	margin-left: 35px;
}
/*редактирование Яндекс-кнопки "Поделиться" - замена иконки*/
.ya-share2 {
	position: absolute;
	top: 2px;
	left: 154px;
	display: inline-block;
	width: 18px;
	height: 22px;
}
.ya-share2__badge,
 .ya-share2__badge, 
.ya-share2__badge,
.ya-share2__badge_more {
	background: rgb(254, 254, 254);
}
.ya-share2__icon_more,
.ya-share2__item_more {
	background: url("/img/public.svg") no-repeat top !important;
}

.news-first {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: row-reverse;
	        flex-direction: row-reverse;
}
.news__text-box {
	width: 380px;
	height: 380px;
}
.news__text-box--one {
	width: 559px;
	margin-left: 16px;
}
.news__title--first {
	font-family: "Galien Regular", "Georgia", serif;
	font-size: 45px;
	line-height: 121%;
	letter-spacing: -0.4px;
	color: #1f3f68;
	font-weight: 600;
}
.news__title--first:hover {
	color: #356ead;
}
.news__text--first {
	width: 380px;
	height: 150px;
	margin-top: 36px;
	font-family: "Gilroy Regular", "Arial", sans-serif;
	font-size: 16px;
	line-height: 162%;
	letter-spacing: 0.04em;
	color: #000000;
	opacity: 0.6;
	margin-bottom: 14px;
}
.news__img--first {
	position: relative;
	right: 0px;
}
.main-article {
	margin: 0px auto;
}
.article {
	width: 940px;
}
.article__news {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.control {
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 940px;
	height: 20px;
}
.page__control {
	margin-top: 51px;
}
.control__link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 107px;
	height: 20px;
	-webkit-transition: 0.3s ease-in all;
	-o-transition: 0.3s ease-in all;
	transition: 0.3s ease-in all;
}
.control__link:hover {
	width: 150px;
}
.control__link--direction {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: row-reverse;
	        flex-direction: row-reverse;
}
.control__txt {
	font-family: "Gilroy Regular", "Arial", sans-serif;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.04em;
	color: #356ead;
}
.control__img {
	height: 20px;
}
.control__img--rotate {
	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);
}
.main__contact {
	margin: 0px auto;
}
.contact {
	width: 940px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.contact__wrap {
}
.contact__img {
	padding-top: 26px;
	padding-left: 12px;
	margin-bottom: 62px;
}
.contact__h2 {
	margin-top: 40px;
	margin-bottom: 24px;
	font-family: "Gilroy Regular", "Arial", sans-serif;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #1f3f68;
	font-weight: 600;
}
.contact__h2-mess {
	margin-top: 0px;
	margin-bottom: 48px;
}
.contact__p {
	width: 299px;
}
.contact__ul {
	-webkit-padding-start: 0px;
	        padding-inline-start: 0px;
	list-style: none;
}
.contact__li {
	background: url("/img/phone.svg") no-repeat center left;
	padding-left: 40px;
	list-style-position: inside;
	margin-top: 16px;
}
.contact__link {
	font-family: "Gilroy Regular", "Arial", sans-serif;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.04em;
	color: #1f3f68;
	text-decoration: none;
	background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
	background-image: -o-linear-gradient(currentColor, currentColor);
	background-image: linear-gradient(currentColor, currentColor);
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-size: 0% 2px;
	-webkit-transition: background-size 0.3s;
	-o-transition: background-size 0.3s;
	transition: background-size 0.3s;
}
.contact__link:hover {
	background-size: 100% 2px;
}
.contact__li--globe {
	background: url("/img/globe.svg") no-repeat center left;
}
.contact__li--mail {
	background: url("/img/mail.svg") no-repeat center left;
}
.message {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 540px;
	height: 800px;
	padding: 56px 56px 56px 56px;
	background: #ffffff;
	-webkit-box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
	        box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
	border-radius: 10px;
}
.form {
}
.form__h3 {
	margin-top: 32px;
	font-family: "Gilroy Regular", "Arial", sans-serif;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #1f3f68;
	opacity: 0.8;
	margin-bottom: 9px;
}
.form__input {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding-left: 36px;
	width: 100%;
	height: 72px;
	opacity: 0.4;
	border: 1px solid #356ead;
	border-radius: 10px;
}
.form__input::-webkit-input-placeholder {
	font-family: "Gilroy Regular", "Arial", sans-serif;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #1f3f68;
	opacity: 0.2;
}
.form__input::-moz-placeholder {
	font-family: "Gilroy Regular", "Arial", sans-serif;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #1f3f68;
	opacity: 0.2;
}
.form__input:-ms-input-placeholder {
	font-family: "Gilroy Regular", "Arial", sans-serif;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #1f3f68;
	opacity: 0.2;
}
.form__input::-ms-input-placeholder {
	font-family: "Gilroy Regular", "Arial", sans-serif;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #1f3f68;
	opacity: 0.2;
}
.form__input::placeholder {
	font-family: "Gilroy Regular", "Arial", sans-serif;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #1f3f68;
	opacity: 0.2;
}
.form__textarea {
	width: 100%;
	height: 144px;
	border-radius: 10px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding-left: 36px;
	padding-top: 21px;
	opacity: 0.4;
	border: 1px solid #356ead;
	border-radius: 10px;
}
.form__textarea::-webkit-input-placeholder {
	font-family: "Gilroy Regular", "Arial", sans-serif;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #1f3f68;
	opacity: 0.2;
}
.form__textarea::-moz-placeholder {
	font-family: "Gilroy Regular", "Arial", sans-serif;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #1f3f68;
	opacity: 0.2;
}
.form__textarea:-ms-input-placeholder {
	font-family: "Gilroy Regular", "Arial", sans-serif;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #1f3f68;
	opacity: 0.2;
}
.form__textarea::-ms-input-placeholder {
	font-family: "Gilroy Regular", "Arial", sans-serif;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #1f3f68;
	opacity: 0.2;
}
.form__textarea::placeholder {
	font-family: "Gilroy Regular", "Arial", sans-serif;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #1f3f68;
	opacity: 0.2;
}
.form__btn {
	margin-top: 64px;
	width: 100%;
	height: 72px;
	font-family: "Gilroy Regular", "Arial", sans-serif;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.04em;
	color: #ffffff;
}
.main__map {
	margin: 0px auto;
}
.map {
	width: 940px;
	height: 480px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin-top: 96px;
	margin-bottom: 96px;
}
.footer {
	height: 784px;
	position: relative;
	margin-right: 96px;
	padding: 88px 200px 0px 213px;
	background: #316099;
	border-radius: 0px 200px 0px 0px;
	color: #ffffff;
}
.footer__page {
	margin: 96px auto 0px auto;
	max-width: 1366px;
	min-width: 1200px;
}
.footer__index {
	margin: 0px auto;
	max-width: 1366px;
	min-width: 1025px;
	background-color: #5a98d0;
	padding-top: 117px;
}
.footer__module {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.footer__text {
	width: 462px;
}
.footer__title {
	margin-bottom: 34px;
}
.footer__btn {
	margin-right: -14px;
	margin-top: 4px;
}
.hr {
	position: absolute;
	left: 0px;
	width: 1073px;
	margin-top: 96px;
	margin-bottom: 94px;
}
.hr-page {
	width: 940px;
	margin-top: 24px;
}
.subtitle-white {
}
.footer__group {
}
.footer__contacts {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	margin-top: 196px;
}
.footer__logo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.footer__caption {
	font-family: "Gilroy Regular", "Arial", sans-serif;
	font-size: 28px;
	line-height: 48px;
	letter-spacing: 0.02em;
	color: #ffffff;
	margin-left: 18px;
}
.footer__data {
	list-style: none;
	position: relative;
	width: 299px;
	-webkit-padding-start: 14px;
	        padding-inline-start: 14px;
	-webkit-margin-before: 32px;
	        margin-block-start: 32px;
}
.footer__data-li {
	margin-top: 22px;
	padding-left: 21px;
}
.footer__data-li::before {
	position: absolute;
	-webkit-transform: translate(-100%, 0%);
	    -ms-transform: translate(-100%, 0%);
	        transform: translate(-100%, 0%);
	width: 34px;
}
.footer__data-li:nth-child(1)::before {
	content: "A.";
}

.footer__data-li:nth-child(2)::before {
	content: "T.";
}

.footer__data-li:nth-child(3)::before {
	content: "E.";
}

.footer__data-li--position {
	display: inline-block;
	position: relative;
	left: 16px;
}
.footer__ul-name {
	font-family: "Gilroy Regular", "Arial", sans-serif;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.05em;
}
.footer__ul {
	-webkit-padding-start: 0px;
	        padding-inline-start: 0px;
	margin-top: 34px;
}
.footer__li {
	list-style-type: none;
	margin-bottom: 15px;
}
.footer__link {
	text-decoration: none;
	font-family: "Gilroy Regular", "Arial", sans-serif;
	font-size: 16px;
	line-height: 162%;
	letter-spacing: 0.05em;
	color: #ffffff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
	background-image: -o-linear-gradient(currentColor, currentColor);
	background-image: linear-gradient(currentColor, currentColor);
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-size: 0% 1px;
	-webkit-transition: background-size 0.3s;
	-o-transition: background-size 0.3s;
	transition: background-size 0.3s;
}
.footer__link:hover {
	background-size: 100% 1px;
}
.footer__about {
	display: inline-block;
	width: 163px;
	margin-left: 86px;
}
.footer__social {
	display: inline-block;
	width: 97px;
	margin-left: 78px;
}
.copy {
	font-family: "Gilroy Regular", "Arial", sans-serif;
	font-size: 16px;
	line-height: 162%;
	letter-spacing: 0.05em;
	color: #ffffff;
	opacity: 0.4;
}
.footer__copy {
	margin-top: 49px;
}

@media (min-width: 1025px) and (max-width: 1365px) {
	.header__img {
		 left: 41vw;
		 top: 5vw;
	}
	.header__img--width {
		 width: 48vw;
	}
	.header__content {
		 width: 940px;
		 padding-left: 0px;
	}
	.main__block {
		 margin-left: 6vw;
	}
	.clients {
		 border-radius: 10vw 0px 0px 0px;
	}
	.table__cell--height {
		 height: 8vw;
	}
	.hr {
		 width: calc(80vw);
	}
	.footer {
		 padding: 11vw 5vw 0px 15vw;
	}
}
@media (min-width: 769px) and (max-width: 1024px) {
	.main {
		 min-width: 670px;
	}
	.header__index {
		 height: 470px;
	}
	.header__index:after {
		 height: 470px;
	}
	.header__line {
		 height: 22px;
	}
	.header__line--padding {
		 padding: 0px 4vw 0px 4vw;
	}
	#masthead {
		 padding: 34px 48px 0px 18px;
		 height: 70px;
	}
	#masthead.scrolled {
		 padding: 25px 48px 0px 18px;
		 height: 60px;
	}
	.logo--height {
		 height: 30px;
	}
	.menu__btn {
		 width: 30px;
		 height: 30px;
	}
	.menu__btn > span,
	.menu__btn > span::before,
	.menu__btn > span::after {
		 height: 3px;
	}
	.menu__btn > span::before {
		 content: "";
		 top: -10px;
	}
	.menu__btn > span::after {
		 content: "";
		 top: 10px;
	}
	.menu__box {
		 width: 40vw;
		 height: 100%;
	}
	.header__img {
		 left: 322px;
		 top: 200px;
	}
	.header__img--width {
		 width: 370px;
	}
	.header__block {
		 margin: 50px auto 0px auto;
	}
	.header__content {
		 width: 670px;
		 padding-left: 0px;
	}
	.main__blocks {
		 -webkit-column-count: 1;
		    -moz-column-count: 1;
		         column-count: 1;
		 margin: 0px auto 170px auto;
	}
	.block-break {
		 -webkit-column-break-after: unset;
		    -moz-column-break-after: unset;
		         break-after: unset;
	}
	.blocks {
		 width: 600px;
	}
	.blocks__title {
		 margin-bottom: 90px;
	}
	.block {
		 position: relative;
		 -webkit-box-sizing: border-box;
		         box-sizing: border-box;
		 width: 630px;
		 padding: 30px 30px 30px 215px;
		 -webkit-box-shadow: 5px 10px 30px rgb(16 112 177 / 20%);
		         box-shadow: 5px 10px 30px rgb(16 112 177 / 20%);
	}
	.lrn-more:hover {
		 width: 90%;
	}
	.block__img2 {
		 position: absolute;
		 left: 5px;
		 top: 104px;
	}
	.block__img1 {
		 position: absolute;
		 left: -31px;
		 top: 130px;
	}
	.block__img3 {
		 position: absolute;
		 left: 5px;
		 top: 104px;
	}
	.main__block {
		 margin: 70px auto 0px auto;
	}
	.subject {
		 width: 670px;
	}
	.subject__title {
		 width: 330px;
	}
	.project:after {
		 width: 670px;
		 height: 297px;
	}
	.project__content {
		 left: 321px;
	}
	.project__desc {
		 margin-top: 0px;
	}
	.wafer--width {
		 width: 670px;
	}
	.wafer-svg__icons {
		 width: 258px;
		 top: 50px;
	}
	.main__project {
		 margin: 80px auto 0px auto;
	}
	.project {
		 width: 670px;
	}
	.line {
		 width: 670px;
	}
	.wafer-card {
		 width: 300px;
	}
	.card {
		 width: 300px;
		 height: 296px;
	}
	.card:after {
		 width: 300px;
		 height: 296px;
	}
	.card__content {
		 width: 236px;
		 height: 296px;
	}
	.main__clients {
		 margin-top: 170px;
	}
	.clients {
		 border-radius: 100px 0px 0px 0px;
	}
	.main__table {
		 padding-top: 80px;
	}
	.table__cell--height {
		 height: 100px;
	}
	.hr {
		 width: 768px;
		 margin-top: 70px;
	}
	.footer {
		 padding: 11vw 5vw 0px 15vw;
		 margin-right: 0px;
		 border-radius: 0px 100px 0px 0px;
		 height: 1000px;
	}
	.footer__index {
		 min-width: 768px;
	}
	.footer__contacts {
		 display: block;
		 margin-top: 150px;
	}
	.text-white {
		 color: #ffffff;
		 width: calc(48vw);
	}
	.footer__data {
		 width: 552px;
		 -webkit-padding-start: 14px;
		         padding-inline-start: 14px;
		 -webkit-margin-before: 32px;
		         margin-block-start: 32px;
	}
	.footer__about {
		 width: 45%;
		 margin-left: 0px;
		 margin-top: 70px;
	}
	.footer__social {
		 width: 45%;
		 margin-left: 0px;
		 margin-top: 70px;
	}
}
@media (max-width: 768px) {
	.page {
		 font-size: 17px;
		 line-height: 22px;
  }
	.main {
		 min-width: 360px;
		 margin: 100px auto 0px auto;
  }
	.header__index {
		 height: 620px;
		 min-width: 360px;
  }
	.header__index:after {
		 height: 720px;
		 top: 0px;
		 min-width: 360px;
  }
	.header__line {
		 height: 22px;
  }
	.header__line--padding {
		 padding: 0px 4vw 0px 4vw;
  }
	#masthead {
		 padding: 34px 48px 0px 18px;
		 height: 60px;
  }
	#masthead.scrolled {
		 padding: 25px 48px 0px 18px;
		 height: 60px;
  }
	.menu__box {
		 width: 100%;
		 height: 100%;
		 text-align: center;
  }
	.header__img {
		 display: none;
  }
	.header__block {
		 margin: 60px auto 0px auto;
  }
	.header__content {
		 width: 70%;
		 min-width: 320px;
		 padding-left: 0px;
  }
	.header__text{
		 height: 620px;
		 display: -webkit-box;
		 display: -ms-flexbox;
		 display: flex;
		 -webkit-box-orient: vertical;
		 -webkit-box-direction: normal;
		 -ms-flex-direction: column;
		 flex-direction: column;
		 -webkit-box-pack: space-evenly;
		 -ms-flex-pack: space-evenly;
		 justify-content: space-evenly;
		 padding-top: 36px;
  }
	.text__title {
		 width: 100%;
		 font-size: 36px;
		 line-height: 56px;
  }
	.text__subtitle {
		 width: 100%;
		 padding-left: 0px;
  }
	.header__btn {
		 margin: 0px auto 0px auto;
  }
	.btn {
		 width: 340px;
  }
	.text__btn {
		 width: 100%;
  }
	.title {
		 font-size: 30px;
		 line-height: 128%;
		 letter-spacing: 0.05em;
		 width: 100%;
  }
	.main__blocks {
		 -webkit-column-count: 1;
		 -moz-column-count: 1;
		 column-count: 1;
		 margin: 0px auto 170px auto;
  }
	.block-break {
		 -webkit-column-break-after: unset;
		 -moz-column-break-after: unset;
		 break-after: unset;
  }
	.blocks {
		 width: 320px;
  }
	.blocks__title {
		 margin-bottom: 90px;
  }
	.main__block {
		 margin: 70px auto 0px auto;
  }
	.block {
		 -webkit-box-sizing: border-box;
		 box-sizing: border-box;
		 width: 100%;
		 -webkit-box-shadow: 5px 20px 50px rgb(16 112 177 / 20%);
		 box-shadow: 5px 20px 50px rgb(16 112 177 / 20%);
		 border-radius: 10px;
		 padding: 20px;
		 margin-top: 70px;
  }
	.lrn-more:hover {
		 width: 90%;
  }
	.block__img2 {
		 left: auto;
		 top: 0px;
  }
	.block__img1 {
		 left: auto;
		 top: 0px;
		 width: 255px;
		 margin: -48px auto 0px auto;
  }
	.block__img3 {
		 left: auto;
		 top: 0px;
  }
	.block__title {
		 margin-top: 32px;
  }
	.subject {
		 width: 70%;
		 display: block;
  }
	.subject__title {
		 width: 100%;
  }
	.subject__text {
		 margin-top: 10px;
		 width: 100%;
  }
	.main__project {
		 margin: 80px auto 0px auto;
  }
	.project {
		 width: 340px;
		 overflow: hidden;
		 height: 340px;
		 border-radius: 28px;
  }
	.project:after {
		 width: 340px;
		 height: 340px;
		 border-radius: 28px;
  }
	.project__content {
		 left: 20px;
  }
	.heading {
		 font-size: 25px;
  }
	.project__desc {
		 margin-left: 70px;
  }
	.project__desc {
		 margin-top: 0px;
  }
	.wafer--width {
		 width: 766px;
  }
	.wafer-svg__icons {
		 width: 258px;
		 top: 90px;
  }
	.main__line {
		 margin: 35px auto 0px auto;
  }
	.line {
		 -webkit-box-orient: vertical;
		 -webkit-box-direction: normal;
		 -ms-flex-direction: column;
		 flex-direction: column;
		 width: 340px;
		 height: 340px;
  }
	.wafer-card {
		 width: 340px;
  }
	.card {
		 border-radius: 28px;
		 width: 340px;
		 height: 160px;
		 overflow: hidden;
  }
	.card:after {
		 border-radius: 28px;
		 width: 340px;
		 height: 160px;
  }
	.card__content {
		 width: 236px;
		 height: 296px;
  }
	.main__clients {
		 margin-top: 120px;
  }
	.clients {
		 border-radius: 60px 0px 0px 0px;
  }
	.text-white {
		 width: 100%;
  }
	.main__table {
		 padding-top: 80px;
  }
	.table{
		 font-size: 18px;
		 line-height: 130%;
  }
	.table__cell--height {
		 height: 12vw;
  }
	.footer {
		 padding: 11vw 20px 0px 20px;
		 margin-right: 0px;
		 border-radius: 0px 60px 0px 0px;
		 height: 1110px;
  }
	.footer__module{
		 -webkit-box-orient:vertical;
		 -webkit-box-direction:normal;
		 -ms-flex-direction:column;
		 flex-direction:column;
  }
	.footer__index {
		 max-width: 768px;
		 min-width: 360px;
  }
	.footer__text{
		 width: 70%;
		 margin-bottom: 50px;
  }
	.hr {
		 width: 100%;
		 margin-top: 70px;
  }
	.footer__contacts {
		 display: block;
		 margin-top: 150px;
  }
	.footer__logo{
		 -webkit-box-pack: center;
		 -ms-flex-pack: center;
		 justify-content: center;
  }
	.footer__data {
		 margin: 0px auto;
		 width: 70%;
		 -webkit-padding-start: 14px;
		 padding-inline-start: 14px;
		 -webkit-margin-before: 32px;
		 margin-block-start: 32px;
  }
	.footer__about {
		 text-align: center;
		 width: 50%;
		 margin-left: 0px;
		 margin-top: 70px;
  }
	.footer__social {
		 text-align: center;
		 width: 45%;
		 margin-left: 0px;
		 margin-top: 70px;
  }
	.footer__ul {
		 margin-top: 20px;
  }
	.footer__li {
		 margin-bottom: 10px;
  }
}
